-   repo: git@github.com:pre-commit/pre-commit-hooks
    sha: v0.9.2
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: debug-statements
    -   id: fix-encoding-pragma
    -   id: flake8
        args:
        - --max-line-length=160
        - --exclude=*/migrations/*,docs/*
        - --ignore=E126
    -   id: check-added-large-files
-   repo: git://github.com/FalconSocial/pre-commit-python-sorter
    sha: b57843b0b874df1d16eb0bef00b868792cb245c2
    hooks:
    -   id: python-import-sorter
