ci:
  skip:
    - prospector
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: debug-statements
      - id: check-added-large-files
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff-format
      - id: ruff
        args:
          - --fix
          - --ignore=E501
        exclude: |
          (?x)^(
            |tests/.*
          )$
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=nin,astroid
          - --skip=poetry.lock
  - repo: https://github.com/regebro/pyroma
    rev: "5.0"
    hooks:
      - id: pyroma
        # Must be specified because of the default value in pyroma
        always_run: false
        additional_dependencies:
          - poetry
        files: |
          (?x)^(
              README.rst|
              pyproject.toml|
          )$
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.6.2
    hooks:
      - id: prettier
        args: [--prose-wrap=always, --print-width=88]
        exclude: "docs/"
  - repo: local
    hooks:
      - id: prospector
        name: prospector
        description: Analyze Python code using Prospector
        entry: prospector
        language: python
        types: [python]
        require_serial: true
        verbose: true
        additional_dependencies:
          # the following are needed to run mypy.
          - types-PyYAML
        exclude: |-
          (?x)^(
            tests/.*/testdata/.*
            |tests/tools/.*/testpath/.*
            |tests/tools/pylint/pylint_configs/.*
            |tests/tools/pylint/test_no_init_found/.*
            |tests/is_python/scrypt.*
            |docs/conf\.py
          )$
