fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: debug-statements
      - id: check-added-large-files
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args:
          - --exclude=/(tests)/
          - --line-length=120
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=nin,astroid
          - --skip=poetry.lock
  - repo: https://github.com/PyCQA/prospector
    rev: v1.10.3
    hooks:
      - id: prospector
        additional_dependencies:
          - "prospector[with_everything]"
          # the following are needed to run mypy successfully in the pre-commit virtualenv
          - types-setuptools
          - types-PyYAML
        args:
          - --summary-only
          - --zero-exit
  - repo: https://github.com/PyCQA/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
           .*/testdata/.*
           |.*/testpath/.*
           |tests/tools/pylint/test_no_init_found/.*
           |tests/test_message\.py
          )$
        args:
          - --max-line-length=120
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/regebro/pyroma
    rev: "4.2"
    hooks:
      - id: pyroma
        # Must be specified because of the default value in pyroma
        always_run: false
        additional_dependencies:
          - poetry
        files: |
          (?x)^(
              README.rst|
              pyproject.toml|
          )$
