fail_fast: true
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: debug-statements
      - id: check-added-large-files
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.3.1
    hooks:
      - id: pyupgrade
        args: [--py37-plus]
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
        args:
          - --exclude=/(tests)/
          - --line-length=120
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.2
    hooks:
      - id: codespell
        args:
          - --ignore-words-list=nin
          - --skip=poetry.lock
  - repo: https://github.com/PyCQA/prospector
    rev: v1.9.0
    hooks:
      - id: prospector
        additional_dependencies:
          - "prospector[with_everything]"
          # the following are needed to run mypy successfully in the pre-commit virtualenv
          - types-setuptools
          - types-PyYAML
        args:
          - --summary-only
          - --zero-exit
  - repo: https://github.com/PyCQA/flake8
    rev: 6.0.0
    hooks:
      - id: flake8
        exclude: "testdata"
        args:
          - --max-line-length=120
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0-alpha.4
    hooks:
      - id: prettier
        files: ".md|.yml|.yaml"
        args: [--prose-wrap=always, --print-width=88]
        exclude: tests(/\w*)*data/
  - repo: https://github.com/regebro/pyroma
    rev: "4.2"
    hooks:
      - id: pyroma
        # Must be specified because of the default value in pyroma
        always_run: false
        additional_dependencies:
          - poetry
        files: |
          (?x)^(
              README.rst|
              pyproject.toml|
          )$
