<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Prospector</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/themes/prism.min.css">

  <style type="text/css">
  </style>
</head>
<body>
<div class="container">
  {% if summary %}
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Summary</h3>
          </div>
        </div>
        <ul class="list-group">
          {% for key, value in summary|dictsort %}
          {% if value %}
          <li class="list-group-item">
            <h4 class="list-group-item-heading">{{ key|replace('_', ' ')|title }}</h4>
            {% if value is sequence and not value is string %}
            <p class="list-group-item-text">{{ value|join(', ') }}</p>
            {% else %}
            <p class="list-group-item-text">{{ value }}</p>
            {% endif %}
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
  {% if messages %}
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Messages</h3>
          </div>
        </div>
        <table class="table">
          <tr>
            <th>Path</th>
            <th>Line</th>
            <th>Character</th>
            <th>Code</th>
            <th>Message</th>
            <th>Source</th>
          </tr>
          {% for message in messages|sort(attribute='location.path') %}
          <tr>
            <td>{{ message.location.path }}</td>
            <td>{{ message.location.line }}</td>
            <td>{{ message.location.character }}</td>
            <td>{{ message.code }}</td>
            <td>{{ message.message }}</td>
            <td>{{ message.source }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  {% endif %}
  {% if profile %}
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h3>Profile</h3>
          </div>
        </div>
        <div class="panel-body">
          <pre><code class="language-yaml">{{ profile|trim }}</code></pre>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-core.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-yaml.min.js"></script>
</body>
</html>
